<ion-card class="animate__animated animate__fadeIn">

  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">{{ index + 1 }}. </span>
      <span class="noticia-source-name">{{ noticia.source.name }}</span>
    </ion-card-subtitle>
    <ion-card-title (click)="abrirNoticia()" class="ion-text-justify">{{ noticia.title }}</ion-card-title>
  </ion-card-header>

  <ion-img *ngIf="noticia.urlToImage" [src]=" noticia.urlToImage || null" (click)="abrirNoticia()"></ion-img>

  <ion-card-content>
    <p class="ion-text-justify">{{ noticia.description}}</p>
  </ion-card-content>

  <ion-item lines="none">
    <ion-buttons slot="end">
      <ion-button (click)="share()">
        <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

</ion-card>