<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="return()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="crearPost()" [disabled]="post.message.length < 1" color="primary || loadLocation">
        Compartir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-padding-vertical">

  <ion-list>

    <ion-item lines="none">
      <ion-avatar>
        <img [src]="usuario.avatar |avatar:usuario._id" />
      </ion-avatar>
      <ion-label class="ion-padding">Mensaje</ion-label>
    </ion-item>

    <ion-item>
      <ion-textarea [(ngModel)]="post.message" placeholder="¿Que quieres decir?" maxlength="255"></ion-textarea>
    </ion-item>

    <ion-item lines="none" class="ion-margin-top">
      <ion-label>Ubicación actual</ion-label>
      <ion-spinner name="lines-small" *ngIf="loadLocation"></ion-spinner>
      <ion-toggle slot="end" [(ngModel)]="post.position" (ionChange)="getLocation()"></ion-toggle>
    </ion-item>


  </ion-list>

  <ion-row class="ion-margin-top">
    <ion-col size="6">
      <ion-button expand="full" shape="round" class="boton" (click)="openCamera()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" shape="round" class="boton" (click)="openGallery()">
        <ion-icon slot="start" name="images"></ion-icon>
        Galería
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <img [src]="image | imageSanitizer">
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>
