.mainSlide, .mainSlide ion-slide {
    width: 100% !important;
    height: 100% !important;
}

form {
    width: 90% !important;
}

img {
    width: 120px;
}

ion-list ion-item {
    margin-bottom: 15px;
}