.mainSlide, .mainSlide ion-slide {
    width: 100% !important;
    height: 90% !important;
}

form {
    width: 90% !important;
}

ion-avatar {
    min-width: 120px;
    min-height: 120px;
    margin: auto;
}

img {
    width: 100%!important;
    height: 100%!important;
}


ion-list ion-item {
    margin-bottom: 8px;
}

