<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides class="mainSlide">
    <ion-slide class="ion-no-margin">

      <form (ngSubmit)="register(fRegister)" #fRegister="ngForm">
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <ion-button fill="clear" class="button-avatar">
                <ion-img src="/assets/avatars/av-1.png"></ion-img>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item class="ion-no-padding">
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input name="nombre" type="text" required></ion-input>
                </ion-item>
                <ion-item class="ion-no-padding">
                  <ion-label position="floating">Apellidos</ion-label>
                  <ion-input name="nombre" type="text" required></ion-input>
                </ion-item>
                <ion-item class="ion-no-padding">
                  <ion-label position="floating">Usuario</ion-label>
                  <ion-input name="username" type="email" required></ion-input>
                </ion-item>
                <ion-item class="ion-no-padding">
                  <ion-label position="floating">Email</ion-label>
                  <ion-input name="email" type="email" required></ion-input>
                </ion-item>

                <ion-item class="ion-no-padding">
                  <ion-label position="floating">Password</ion-label>
                  <ion-input name="password" type="password" required></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin">
            <ion-col>
              <ion-button type="submit" color="primary" expand="block" class="ion-no-padding">
                <span class="ion-text-capitalize">Registrar</span>
                <span class="ion-text-lowercase">&nbsp;usuario</span>
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>

    </ion-slide>
  </ion-slides>
</ion-content>
