<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-slides class="mainSlide" #slidePrincipal>

    <ion-slide class="ion-no-margin">

      <div>
        <ion-grid fixed>
          <ion-row class="animate__animated animate__fadeIn">
            <ion-col class="ion-no-padding">
                <ion-avatar>
                  <ion-img [src]="usuario.avatar | avatar:usuario._id"></ion-img>
                </ion-avatar>
            </ion-col>
          </ion-row>

          <ion-row class="animate__animated animate__fadeIn">
            <ion-col>
              <ion-list>
                <ion-item class="ion-no-padding">
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input name="nombre" type="text" [(ngModel)]="usuario.name" readonly></ion-input>
                </ion-item>
                <ion-item class="ion-no-padding">
                  <ion-label position="floating">Usuario</ion-label>
                  <ion-input name="username" type="email" [(ngModel)]="usuario.username" readonly></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin animate__animated animate__fadeIn">
            <ion-col>
              <ion-button color="primary" expand="block" class="ion-no-padding" (click)="actualizar()">
                <span class="ion-text-capitalize">Editar</span>
                <span class="ion-text-lowercase">&nbsp;perfil</span>
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
