ion-slides, ion-slides ion-slide {
    width: 100% !important;
    height: 100% !important;
}


div {
    width: 90% !important;
    height: 80% !important;

}


ion-avatar {
    min-width: 120px;
    min-height: 120px;
    margin: auto;
}

img {
    width: 100%!important;
    height: 100%!important;
}

ion-list ion-item {
    margin-bottom: 10px;
    margin-top: 15px;
}

ion-list-header {
    width: 100%;
    padding-left: 5px !important;
    padding-right: 5px !important;

}