<ion-card class="animate__animated animate__fadeIn">

  <!-- Usuario -->
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]="post.usuario.avatar | avatar:post.usuario._id" />
    </ion-avatar>
    <ion-label>
      <h3>{{post.usuario.name}}</h3>
      <h5 style="color: gray;">@{{post.usuario.username}}</h5>
    </ion-label>
  </ion-item>


  <!-- Fotos -->
  <ion-slides pager="true" *ngIf="post.imgs.length > 1">
    <ion-slide *ngFor="let img of post.imgs" class="image-slide"
      [style]="(img| imagen: post.usuario._id)| domSanitizer">
    </ion-slide>
  </ion-slides>



  <!-- Foto -->
  <ion-slides pager="false" *ngIf="post.imgs.length === 1" [options]="slideOpts">
    <!-- ngIf imgs -->
    <ion-slide class="image-slide" [style]="(post.imgs[0]| imagen: post.usuario._id)| domSanitizer"></ion-slide>
  </ion-slides>

  <!-- Mapa -->
  <app-mapa [coords]="post.coords" *ngIf="post.coords"></app-mapa>

  <!-- Mensaje -->
  <ion-item lines="none">
    <ion-label>{{post.message}}</ion-label>
  </ion-item>

  <!-- Botones -->
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-label *ngIf="post.favs > 0">{{post.favs}}</ion-label>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-card>
