<ion-card>

  <!-- Usuario -->
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/avatars/av-1.png" />
    </ion-avatar>

    <ion-label>
      <h3>{{post.usuario.name}}</h3>
      <h5>{{post.usuario.username}}</h5>
    </ion-label>
  </ion-item>

  <!-- Fotos -->
  <ion-slides mode="ios" pager="ios">
    <ion-slide>
      <ion-img src="/assets/perro-1.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/perro-2.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/perro-3.jpg"></ion-img>
    </ion-slide>
  </ion-slides>

  <!-- Mapa -->

  <!-- Mensaje -->
  <ion-card-content class="ion-text-justify">
    {{post.message}}
  </ion-card-content>

  <!-- Botones -->
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-label>{{post.favs}}</ion-label>
      <ion-label *ngIf="post.favs > 0">{{post.favs}}</ion-label>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-item>
</ion-card>
