<ion-card>

  <!-- Usuario -->
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/avatars/av-1.png" />
    </ion-avatar>
    <ion-label>
      <h3>{{post.usuario.name}}</h3>
      <h5 style="color: gray;">@{{post.usuario.username}}</h5>
    </ion-label>
  </ion-item>

  <!-- Fotos -->
  <ion-slides mode="ios" pager="ios">
    <ion-slide class="image-slide" [style]="img1 | domSanitizer"></ion-slide>
    <ion-slide class="image-slide" [style]="img2 | domSanitizer"></ion-slide>
    <ion-slide class="image-slide" [style]="img3 | domSanitizer"></ion-slide>
  </ion-slides>

  <!-- Mapa -->

  <!-- Mensaje -->
  <ion-item lines="none">
    <ion-label>{{post.message}}</ion-label>
  </ion-item>

  <!-- Botones -->
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-label *ngIf="post.favs > 0">{{post.favs}}</ion-label>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-card>
