<ion-header class="ion-no-border">

  <ion-segment (ionChange)="segmentChanged()" mode="md" #segment>
    <ion-segment-button value="social">
      <ion-label class="ion-text-capitalize">Social</ion-label>
    </ion-segment-button>
    <ion-segment-button value="postme">
      <ion-label class="ion-text-capitalize">Publicaciones</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favs">
      <ion-label>
        <span class="ion-text-capitalize">Me&nbsp;</span>
        <span class="ion-text-lowercase">gusta</span>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>
  <!-- Refresher (Actualizar posts) -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Lista posts -->
  <app-posts [posts]='postsAux' (deletePost)="dislikeEvent($event)"></app-posts>

  <!-- Fav button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="animate__animated animate__bounce">
    <ion-fab-button (click)="addPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- Infinite scroll (Nueva página posts) -->
  <ion-infinite-scroll [disabled]="disabled" threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
