<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      PostShare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Refresher (Actualizar posts) -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Lista posts -->
  <app-posts [posts]='posts'></app-posts>

  <!-- Fav button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- Infinite scroll (Nueva página posts) -->
  <ion-infinite-scroll [disabled]="disabled" threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
